<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coalco-agro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
<script defer src="bundle.js"></script><link href="main.css" rel="stylesheet"></head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav__sidebar">
                <li class="nav__sidebar-li" id="closeburger"><a href="#" class="nav__link"><svg xmlns="http://www.w3.org/2000/svg" height="26" fill="#fff" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="nav__sidebar-li"><a href="#products" class="nav__link">Наша продукция</a></li>
                <li class="nav__sidebar-li"><a href="#partners" class="nav__link">Партёры</a></li>
                <li class="nav__sidebar-li"><a href="#vehicle" class="nav__link">Техника</a></li>
                <li class="nav__sidebar-li"><a href="#awards" class="nav__link">Награды</a></li>
                <li class="nav__sidebar-li"><a href="news.html" class="nav__link">Новости Повадино<span></span></a></li>
            </ul>
            <ul class="nav__ul">
                <li class="nav__li"><a href="index.html"><img src="2d5934afea4154f16eb2.svg" alt="logo" class="nav__logo"></a></li>
                <li class="nav__li hideOnMobile"><a href="#products" class="nav__link">Наша продукция</a></li>
                <li class="nav__li hideOnMobile"><a href="#partners" class="nav__link">Партёры</a></li>
                <li class="nav__li hideOnMobile"><a href="#vehicle" class="nav__link">Техника</a></li>
                <li class="nav__li hideOnMobile"><a href="#awards" class="nav__link">Награды</a></li>
                <li class="nav__li hideOnMobile"><a href="news.html" class="nav__link">Новости Повадино<span></span></a></li>
                <li class="nav__li" id="burger"><a href="#" class="nav__link"><svg xmlns="http://www.w3.org/2000/svg" height="26" fill="#fff" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <video class="hero__video-slide active" autoplay muted loop><source src="200437c53e933162c523.mp4" type="video/webm"> <source src="200437c53e933162c523.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="490127ffb013504fd82b.mp4" type="video/webm"> <source src="490127ffb013504fd82b.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="cf596cc4564412aea66d.mp4" type="video/webm"> <source src="cf596cc4564412aea66d.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="ed9fe4b2f2483a7b9206.mp4" type="video/webm"> <source src="ed9fe4b2f2483a7b9206.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="56bc3239fd499836fa4f.mp4" type="video/webm"> <source src="56bc3239fd499836fa4f.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="200437c53e933162c523.mp4" type="video/webm"> <source src="200437c53e933162c523.mp4" type="video/mp4"></video>
            <video class="hero__video-slide" autoplay muted loop><source src="200437c53e933162c523.mp4" type="video/webm"> <source src="200437c53e933162c523.mp4" type="video/mp4"></video>
            <div class="container">
                <div class="hero__content">
                    <h1 class="title">Племенной завод «Повадино»</h1>
                    <p class="hero__text">Племзавод основан в 1963 году в результате разделения Государственного племенного завода «Заря коммунизма».<br>
                        <br>
                        С каждым годом в хозяйстве увеличивается площадь под зерновые культуры. Для обработки территорий приобретены зерновые комбайны Claas (Германия) и John Deer (США), кормоуборочные комбайны Krone, мощные американские тракторы фирмы John Deer и другая сельскохозяйственная техника.
                    </p>
                    <ul class="socials">
                        <li><a href="https://www.tiktok.com/@pz.povadino?_t=8hlEEZDx2rS&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vk"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="hero__slide-navigation">
                <div class="hero__slide-btn active"></div>
                <div class="hero__slide-btn"></div>
                <div class="hero__slide-btn"></div>
                <div class="hero__slide-btn"></div>
                <div class="hero__slide-btn"></div>
                <div class="hero__slide-btn"></div>
                <div class="hero__slide-btn"></div>
            </div>
        </section>
        <section class="products" id="products">
            <div class="container">
                <h2 class="subtitle">Наша Продукция</h2>
                <div class="products__wrapper">
                    <div class="products__card">
                        <img src="f43987bc6e7772dc495b.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Сено</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                    <div class="products__card">
                        <img src="8eb876cbe8c73f486e8d.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Силос</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                    <div class="products__card">
                        <img src="1fa46880a400cbc1027f.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Мясо</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                    <div class="products__card">
                        <img src="f706b0e770e9c702cdd2.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Навоз</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                    <div class="products__card">
                        <img src="f706b0e770e9c702cdd2.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Перегной</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                    <div class="products__card">
                        <img src="9049a7474664df7ef723.png" alt="product image" class="products__card-image">
                        <div class="products__card-content">
                            <h3 class="products__card-title">Грунт</h3>
                            <p class="products__card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners" id="partners">
            <div class="container">
                <h2 class="subtitle">Наши Партнёры</h2>
                <p class="text">Продукцию выращенную на наших фермах используют Крупнейшие бренды.</p>
                <div class="partners__wrapper">
                    <img src="6d22b1f7099650fd3a15.svg" alt="ehrmann" class="partners__logo" data-name="p-2">
                    <img src="5c5fa0efda170e382c3c.svg" alt="vkusno-i-tochka" class="partners__logo" data-name="p-1">
                    <img src="ee31ad7dee2ebb2f4a8a.svg" alt="campina" class="partners__logo" data-name="p-3">
                </div>
                <div class="partners__preview">
                    <div class="partners__previewcard" data-target="p-1">
                        <i class="fas fa-times"></i>
                        <img src="5c5fa0efda170e382c3c.svg" alt="vkusno-i-tochka" class="partners__preview-logo">
                        <div class="partners__preview-content">
                            <h3 class="subtitle">Вкусно и точка</h3>
                            <p class="partners__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. </p>
                        </div>
                    </div>
                    <div class="partners__previewcard" data-target="p-2">
                        <i class="fas fa-times"></i>
                        <img src="6d22b1f7099650fd3a15.svg" alt="vkusno-i-tochka" class="partners__preview-logo">
                        <div class="partners__preview-content">
                            <h3 class="subtitle">Ehrmann</h3>
                            <p class="partners__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. </p>
                        </div>
                    </div>
                    <div class="partners__previewcard" data-target="p-3">
                        <i class="fas fa-times"></i>
                        <img src="ee31ad7dee2ebb2f4a8a.svg" alt="vkusno-i-tochka" class="partners__preview-logo">
                        <div class="partners__preview-content">
                            <h3 class="subtitle">Campina</h3>
                            <p class="partners__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="vehicle" id="vehicle">
            <div class="container">
                <h2 class="subtitle">Техника</h2>
                <div class="vehicle__wrapper">
                    <div class="flip flip-vertical flip-1">
                        <div class="front">
                            <div class="vehicle__front-container">
                                <h3 class="vehicle__subtitle">John Deer</h3>
                                <span class="vehicle__flip-btn">подробнее</span>
                            </div>
                        </div>
                        <div class="back">
                            <i class="fas fa-times close-btn"></i>
                            <h3 class="vehicle__subtitle">John Deer</h3>
                            <p class="vehicle__text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.</p>
                        </div>
                    </div>
                    <div class="flip flip-vertical flip-2">
                        <div class="front">
                            <div class="vehicle__front-container">
                                <h3 class="vehicle__subtitle">John Deer</h3>
                                <span class="vehicle__flip-btn">подробнее</span>
                            </div>
                        </div>
                        <div class="back">
                            <i class="fas fa-times close-btn"></i>
                            <h3 class="vehicle__subtitle">John Deer</h3>
                            <p class="vehicle__text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.</p>
                        </div>
                    </div>
                    <div class="flip flip-vertical flip-3">
                        <div class="front">
                            <div class="vehicle__front-container">
                                <h3 class="vehicle__subtitle">John Deer</h3>
                                <span class="vehicle__flip-btn">подробнее</span>
                            </div>
                        </div>
                        <div class="back">
                            <i class="fas fa-times close-btn"></i>
                            <h3 class="vehicle__subtitle">John Deer</h3>
                            <p class="vehicle__text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="awards" id="awards">
            <div class="container">
                <h2 class="subtitle">Награды</h2>
                <div class="awards__wrapper">
                    <p class="text">Высокие производственные показатели племзавода «Повадино» отмечены благодарностями администрации Домодедовского района, Губернатора Московской области, почетными грамотами Минсельхоза Московской области, а также наградами и дипломами выставки «Звезды Подмосковья» с 2001 по 2008 годы.</p>
                    <div class="awards__swiper">
                        <div class="awards__swiper-wrapper">
                            <div class="awards__slide">
                                <img src="35b6f8e8be324da346f5.png" alt="">
                            </div>
                            <div class="awards__slide">
                                <img src="35b6f8e8be324da346f5.png" alt="">
                            </div>
                            <div class="awards__slide">
                                <img src="35b6f8e8be324da346f5.png" alt="">
                            </div>
                            <div class="awards__slide">
                                <img src="35b6f8e8be324da346f5.png" alt="">
                            </div>
                            <div class="awards__slide">
                                <img src="35b6f8e8be324da346f5.png" alt="">
                            </div>
                        </div>
                        <a href="#" class="awards__navigation awards__navigation_prev" data-dir="prev"><i class="fa-solid fa-chevron-left"></i></a>
                        <a href="#" class="awards__navigation awards__navigation_next" data-dir="next"><i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aee3b88ad3eb91969a8344ba47a7ab4caec49033641e1f051813ad5cc068f82de&amp;source=constructor" width="100%" height="580" frameborder="0"></iframe>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <img src="2d5934afea4154f16eb2.svg" alt="logo" class="footer__logo">
                    <div class="footer__item">
                        <h3 class="footer__subtitle">Следите за нами</h3>
                        <ul class="socials">
                            <li><a href="https://www.tiktok.com/@pz.povadino?_t=8hlEEZDx2rS&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-vk"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-telegram"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer__item">
                        <h3 class="footer__subtitle">Наши контакты</h3>
                        <ul class="footer__contacts">
                            <li class="footer__li"><i class="fa-solid fa-phone"></i><a href="tel:+74967961205" class="footer__link">+7 (496) 796-12-05</a></li>
                            <li class="footer__li"><i class="fa-solid fa-envelope"></i><a href="mailto:mail@coalco-agro.ru" class="footer__link">mail@coalco-agro.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>